body, button, input {
  font: 16px Trebuchet MS, Arial, Helvetica, sans-serif;
}
button {
  border: 1px solid;
  border-radius: 5px;
  height: 25px;
  font-weight: bold;
}
table {
  margin-top: 10px;
  text-align: center;
}
input {
  border: 1px solid;
  border-radius: 3px;
  height: 21px;
  text-align: center;
}
.task {
  width: 200px;
}
.progress-bar {
  border: 1px solid;
  border-radius: 3px;
  height: 23px;
  width: 100px;
  line-height: 23px;
}
.progress {
  background: greenyellow;
  height: 100%;
  width: 0;
  text-align: right;
  font-weight: bold;
}
.mins {
  width: 45px;
  text-align: center;
}
[type=number] {
  width: 40px;
}

[data-src=tasks] tr.active {
  background: cornsilk;
}
